<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login</h1>
    <form action="Post" action="users/register">
        <LABel for="">Nombre</LABel>
        <input type="text" name="nombre">
    
    </form>
    <p></p>
  </body>
</html>